<div class="container w-xl-50 w-lg-50 w-md-50 w-sm-50 p-5">
    <mat-form-field class="example-full-width m-10" appearance="outline">
        <mat-label>Write something...</mat-label>
        <input matInput [formControl]="search" placeholder="Ex. foo" />
    </mat-form-field>
    <div *ngIf="usersList.length > 0 else noList">
        <div class="c-table">
            <app-table-users [list]="usersList"></app-table-users>
        </div>
    </div>
    <mat-paginator
        [length]="this.total"
        [pageSize]="filters.per_page"
        (page)="changePage($event)"
    >
    </mat-paginator>
    <ng-template #noList>
        <div class="d-flex justify-content-center">
            You don't have searches yet!
        </div>
    </ng-template>
</div>
